.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.collapsible {
  background-color: #34568B;
  color: white;
  cursor: pointer;
  padding: 10;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.project_collapsible {
background-color: white;
  color: blue;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 5px;
}

.collapse_active, .collapsible:hover {
  background-color: #34568B;
}

.project_collapse_active, .project_collapsible:hover {
  background-color: white;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.project_collapsible::before {
  background-color: white;
  content:  "➤"; /* Unicode character for "plus" sign (+) */
  float: left;
  font-size: 30px;
}

.project_collapse_active:before {
  background-color: white;
  content:  "➤";
  transform: rotate(90deg);
  font-size: 30px;
}

.collapsible::after {
  background-color: white;
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  float: right;
}

.collapse_active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: white;
   text-align: center;
}